#moisturizer img
{
width:50%;
height:50%;
padding-bottom:20px;
float:left
margin-right:2%

}
#cleanser img
{
width:50%;
height:50%;
padding-bottom:20px;
float:left;

}
#toner img
{
width:50%;
height:50%;
padding-bottom:20px;
float:left
margin-right:2%

}